/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #816969;
}

.stopwatch {
    background-color: #410314;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 5px 15px rgba(147, 122, 122, 0.1);
}

#time-display {
    font-size: 3em;
    margin-bottom: 20px;
    color: #d6caca;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

#laps {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

#laps li {
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}
